<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>



    <div class="home-container">

        <img id="logo" src="/images/logo.png" alt="">



        <p id="description">Step 1: Choose a Filetype that you wish to receive. <br><br>
            Step 2: Post full url and submit.
        </p><br><br><br><br>

       

        <h2>Submit URL</h2>




        <form action="/" method="POST">

            <div class="dropdown-container">

                <label for="format">Screenshot Type:</label>
                <select name="format" id="format">

                    <option value="screenshot">Image (.png)</option>
                    <option value="pdf">PDF (.pdf)</option>


                </select>

            </div>


            <input type="text" name="url" id="url" placeholder="URL" required>
            <button>Submit</button>
        </form>



    </div>


    <footer>

        <p>Developer: <%= developer %>
        </p>
        
        

    </footer>



</body>

</html>